---
---

@import "flatly-variables";
@import "bootstrap";
@import "flatly";
@import "colors";
@import "social-likes";

.container {
  max-width: $container-md;
}

//
// .main
//

h1 {
  a {
    color: inherit;
  }
}

p {
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

body h1, body h2 {
  padding-bottom: 0.3em;
}

//
// header
//

header {
  .navbar {
    margin-bottom: 0px;
  }

  .container {
    text-align: center;

    .navbar-main {
      float: none;
      display: inline-block;
      margin: 0 auto;

      > li {
        float: left;
      }

    }

    .navbar-brand {
      float: none;
      display: block;
    }

    .navbar-nav > li > a {
      padding-top: 17.5px;
      padding-bottom: 17.5px;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    .container {
      .navbar-main {
        float: right;
        display: block;
      }

      .navbar-brand {
        float: left;
        display: block;
      }
    }
  }
}

.margin {
  margin-bottom: 27px;
}

//
// #heads-up
//

#heads-up {
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  padding-bottom: 25px;
  text-align: center;
}

//
// footer
//

.wrapper-footer {
  padding: 5px 0;
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
}

//
// blog
//

.date {
  font-style: italic;
  color: $gray;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray-light;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post:after {
  clear: both;
}
.post:after {
  display: table;
  content: " ";
}

//
// landing
//

.section {
  padding: 100px 0;
}
