.Paragraph-Style
{
	font-family: dancing-script-n7, sans-serif;
}

.Paragraph-Style-1
{
	font-family: droid-sans-n7, sans-serif;
}

.heading3-slider
{
	font-family: open-sans-n4, sans-serif;
}

.bodytext-slider
{
	font-family: open-sans-n3, sans-serif;
}

.menu-std,.bullet1-ttxt,.plain-txt-it,.start,.numbers,.head2,.bull2-txt,.plaint-txt,.marker11,.pr-block-cap,.pr-block-desc,.strelka,.pr-block-cap-a,.pr-block-desc-a,.strelka-a,.progr-bis-desc,.txt2,.pob-txt,.o-trenere,.txt,.Author-name,.bulet-eshe,.head3-sl-a,.head3-italic
{
	font-family: pt-sans-n4, sans-serif;
}

.star,.marker3 > li:before
{
	font-family: pt-sans-n7, sans-serif;
}

#pu903.PamphletThumbSelected #u922-4 p,#pu901.PamphletThumbSelected #u919-4 p,#pu903.PamphletThumbSelected #u923-4 p,#pu883.PamphletThumbSelected #u889-4 p,#pu901.PamphletThumbSelected #u920-4 p,#pu901.PamphletThumbSelected #u918-4 p,#pu899.PamphletThumbSelected #u915-4 p,#pu899.PamphletThumbSelected #u916-4 p,#pu899.PamphletThumbSelected #u914-4 p,#pu894.PamphletThumbSelected #u911-4 p,#pu894.PamphletThumbSelected #u912-4 p,#pu894.PamphletThumbSelected #u910-4 p,#pu903.PamphletThumbSelected #u924-6 p,#pu883.PamphletThumbSelected #u888-4 p,#pu883.PamphletThumbSelected #u887-4 p,#u1403-4.AccordionPanelTabOpen p,#u1403-4.AccordionPanelTabOpen h3,#u1458-4.AccordionPanelTabOpen p,#u1458-4.AccordionPanelTabOpen h3,#u1483-4.AccordionPanelTabOpen p,#u1483-4.AccordionPanelTabOpen h3,#u1413-4.AccordionPanelTabOpen p,#u1413-4.AccordionPanelTabOpen h3,#pu905.PamphletThumbSelected #u925-4 p,#pu905.PamphletThumbSelected #u926-6 p,#pu905.PamphletThumbSelected #u927-4 p,#u90-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u82-4,#u85-4,#u87-6,#u957-4,#u958-4,#u959-4,#u960-4,#u1070-4,#u1069-4,#u1071-4,#u1082-4,#u1084-4,#u1083-4,#u1086-4,#u1081-4,#u1085-4,#u467-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u409-6
{
	font-family: pt-sans-n7, sans-serif;
}

#u396-3,#u398-3,#u399-3,#u410-4,#u420-4,#u421-4,#u422-4,#u485-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1108-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1228-4,#u1781-4,#u1797-4,#u1813-4,#u1830-4,#u1839-4,#u1846-4
{
	font-family: pt-sans-i4, sans-serif;
}

#u1160-3,#u1163-3,#u1162-5,#u1164-3,#u1236-4,#u1780-4,#u1796-4,#u1812-4,#u1833-4,#u1837-4,#u1844-4,#u1514-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1592-4,#u1545-4,#u1537-9,#u1601-4,#u1614-4,#u1591-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1605-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1612-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1607-4,#u1617-4,#u1609-21,#u1616-25,#u1683-4,#u1685-6,#u1690-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1682-4,#u1879-6,#u1686-8
{
	font-family: pt-sans-n4, sans-serif;
}

