.breadcrumb {
  padding: 9px 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.55;
  background-color: #f3f4f5;
  border-radius: 6px;
  }
.breadcrumb > li {
  position: relative;
  text-shadow: none;
  }
.breadcrumb > li:after {
  display: inline-block;
  margin: -4px 9px 0 13px;
  font-family: 'Flat-UI-Pro-Icons';
  font-size: 9.75px;
  color: #bdc3c7;
  vertical-align: middle;
  content: "\e605";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.breadcrumb .active {
  color: #bdc3c7;
  cursor: default;
  }
.breadcrumb .active:after {
  display: none;
  }
.breadcrumb .active > a {
  color: inherit;
  cursor: inherit;
  }
.breadcrumb > li + li:before {
  padding: 0;
  content: "";
  }
.breadcrumb-text {
  margin-bottom: 20px;
  color: #bdc3c7;
  }
.breadcrumb-text .caption {
  margin: 0 0 3px;
  font-size: 18px;
  font-weight: 700;
  }
.breadcrumb-text .caption:after {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Flat-UI-Pro-Icons';
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e607";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.breadcrumb-text ul {
  padding: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
  }
.breadcrumb-text ul li {
  display: inline-block;
  }
.breadcrumb-text ul li a:after {
  margin: 0 4px 0 9px;
  font-weight: normal;
  color: #bdc3c7;
  content: "/";
  }