---
layout: landing
title: Как определиться с выбором цели
permalink: /products/define-my-goals/
header: 
  title: "Как определиться с выбором цели"
  subtitle: "Практическая пошаговая инструкция"
  background: "/images/bg-goal.jpg"
  buttontitle: "Скачать"
contents:
  title: "Делая конкретные задания, ты:"
  items:
    - Досконально оценишь свою жизнь по всем важным областям (всего 14 областей)
    - Чётко поймешь, какие области твоей жизни нуждаются в твоей проработке
    - Увидишь, куда тебе двигаться
    - Какие цели самые важные
    - И в каких областях их стоит поставить
author: 
  title: "Кто ведёт программу"
  name: "Николай Воробьев"
  photo: "/images/nickvorobiov.jpg"
  text: "Ведущий тренер компании ПроРеальность\n\nМеждународный тренер и коуч с 12-летним опытом\n\nВедущий и тренер в 4 телевизионных и радио шоу об отношениях и личной эффективности\n\nАвтор 5 книг и 15 тренингов об отношениях, мотивации, уверенности, бизнесе, продажах и личной эффективности\n\nПровёл тренинги более чем в 20 городах России и Европы"
---

{% include sections/header.html header=page.header bg="bg-primary" %}

<div class="section bg-clouds">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h1>Не&nbsp;можешь определиться с&nbsp;целью?</h1>
      </div>
      <div class="col-sm-6 col-md-8">
        <p class="lead">Не можешь найти себя?</p>

        <ul>
          <li>Не знаешь, чего хочешь?</li>
          <li>Маешься и не знаешь, чем заняться?</li>
        </ul>

        <p class="lead">Сложно выбрать направление?</p>

        <ul>
          <li>Не получается определиться?</li>
          <li>Не уверен, твоя ли цель?</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section features">
  <div class="container">
    <h1 class="text-center" style="padding-bottom: 40px;">Что ты получишь:</h1>

    <!-- Example row of columns -->
    <div class="row">
      <div class="col-xs-4 text-center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x text-nephritis"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <p style="font-size: 24px; margin-top: 1em;">Поймешь, что <b>важно именно тебе</b></p>
      </div>
      <div class="col-xs-4 text-center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x text-orange"></i>
          <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
        </span>
        <p style="font-size: 24px; margin-top: 1em;">Чётко <b>определишься</b> со своими целями</p>
      </div>
      <div class="col-xs-4 text-center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x text-peter-river"></i>
          <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
        </span>
        <p style="font-size: 24px; margin-top: 1em;">Сэкономишь время, силы и нервы</p>
      </div>
    </div>
  </div>
</div>

{% include sections/contents.html contents=page.contents bg="bg-primary" %}

<div class="section" id="pricing">
  <div class="container">
    <h1 class="text-center">Скачивай прямо сейчас</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <h2>Цена:</h2>

        &euro;37 или 2000&nbsp;рублей

        <h2>Ты получишь:</h2>

        <ul>
          <li>пошаговую инструкцию с заданиями</li>
          <li>бонусные аудиозаписи</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <h2>Нажми на кнопку:</h2>

        <a class="btn btn-lg btn-primary" style="padding: 10px 20px;" href="http://prolubov.prorealnost.com/shot/70">
          <span style="font-size: 120%;"><b>Скачать инструкцию</b></span>
          <br/>
          и быть уверенным в своей цели
        </a>
      </div>
    </div>
  </div>
</div>

{% include sections/author.html author=page.author bg="bg-clouds" %}
