---
layout: landing
title: Техника Глубоких Отношений — Тренинг
permalink: /products/tgo/
header: 
  title: "Тренинг «Техника глубоких отношений»"
  subtitle: "Построй отношения своей мечты"
  background: "/data/store/love/media/coffee-heart_1280x1024_sc.jpg"
features: 
  feature1: "Узнаешь, что конкретно мешает тебе создать любящие отношения"
  feature2: "Получишь конкретный план действий по созданию и улучшению отношений"
  feature3: "Начнешь действовать и создавать яркие и насыщенные отношения"
contents: 
  - "Как найти подходящего человека"
  - "Как создать доверительные отношения"
  - "Как решать сложности в отношениях"
  - "Как перестать чувствовать одиночество"
  - "Как получать поддержку, любовь и заботу"
  - "Как начать чувствовать себя нужным"
author: 
  name: "Николай Воробьев"
  photo: "/images/nickvorobiov.jpg"
  text: "Ведущий тренер компании ПроРеальность\n\nМеждународный тренер и коуч с 12-летним опытом\n\nВедущий шоу «ПроЛюбовь» на телеканале 1+1\n\nАвтор книги «Реальная Любовь» и 15 тренингов\n\nПровёл мастер-классы по отношениям в 7 городах от Праги до Алма-Аты"
pricing: 
  - 
    name: "Базовый"
    price: "245"
    href: "http://prolubov.prorealnost.com/shot/59"
    features: 
      - "Полноценное участие в курсе"
      - "Обратная связь от тренера"
      - "Комплект рабочих материалов"
  - 
    name: "Персональный"
    price: "299"
    href: "http://prolubov.prorealnost.com/shot/62"
    features: 
      - "Полноценное участие в курсе"
      - "Обратная связь от тренера"
      - "Комплект рабочих материалов"
      - "Индивидуальное сопровождение персонального куратора"
      - "Групповые занятия с куратором"
  - 
    name: "VIP"
    price: "499"
    href: "http://prolubov.prorealnost.com/shot/65"
    features: 
      - "Полноценное участие в курсе"
      - "Обратная связь от тренера"
      - "Комплект рабочих материалов"
      - "Индивидуальное сопровождение персонального куратора"
      - "Групповые занятия с куратором"
      - "Индивидуальное занятие с Тренером в начале курса для быстрого решения самых наболевших вопросов"
      - "Полный комплект книг, аудио- и видео- курсов по отношениям общей стоимостью 200 евро"
programme: 
  - 
    name: "Отпускание прошлых обид"
    text: "Большую часть проблем каждый из нас тащит в отношения из своего прошлого. Первый шаг на пути к успешным отношениям — исцеление собственных ран, полученных ранее."
    contents: 
      - "Техника «что я знаю о мужчинах» / «что я знаю о женщинах»"
      - "Метод радикального прощения"
      - "Техника «Зевок» для отпускания прошлого"
  - 
    name: "Идеальный мужчина / идеальная женщина"
    text: "Здесь ты научишься правильно управлять своими ожиданиями и выстраивать рамки для своего партнёра, в которых он будет становиться для тебя всё лучше."
    contents: 
      - "Создание образа идеального партнёра"
      - "Как избегать разочарований"
      - "Метод «воспитания» идеального партнёра"
  - 
    name: "Ежедневная работа с переживаниями"
    text: "За день у каждого человека накапливается напряжение, которое необходимо отпустить, чтобы оно не было выплеснуто на партнёра и не спровоцировало конфликт."
    contents: 
      - "Стратегия работы с переживаниями"
      - "Техника вечернего отпускания накопленных за день переживаний"
      - "Техника «Воздух» для устранения негативного влияния окружающих"
  - 
    name: "Работа с виной и обидой"
    text: "Ты научишься справляться с самыми сильными и деструктивными чувствами, которые мешают строить отношения."
    contents: 
      - "Как перестать обижаться"
      - "Как перестать чувствовать себя виноватым"
      - "Как вкладываться в партнёра, чтобы он развивался"
  - 
    name: "Устранение конфликтов"
    text: "Здесь ты научишься быстро гасить любой конфликт в отношениях на любой стадии."
    contents: 
      - "Как устранить причину конфликтов"
      - "Как быстро успокоить мужчину, который злится"
      - "Как быстро прекратить истерику женщины"
  - 
    name: "Создание влюблённости"
    contents: 
      - "Стратегия создания доверия в отношениях"
      - "Метод создания влюблённости «36 вопросов»"
      - "Техника длительного поддержания влюблённости"

---

{% include sections/header.html header=page.header %}
{% include sections/features.html features=page.features %}
{% include sections/contents.html contents=page.contents %}
{% include sections/programme.html programme=page.programme %}
{% include sections/author.html author=page.author title='Кто ведёт программу' %}
<a id="pricing"></a>
{% include sections/pricing.html pricing=page.pricing %}
